h3
{
    width:1600px;
}

button
{
    animation: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example
{
    from {box-shadow: 10px 10px 38px rgb(207, 118, 16);}
    to {box-shadow: 10px 10px 38px rgb(33, 104, 151);}
}

canvas
{
    animation: example2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example2
{
    from {box-shadow: 10px 10px 38px rgb(98, 156, 90);}
    to {box-shadow: 10px 10px 38px rgb(143, 42, 42);}
}

.btn:hover
{
    background-color:red;
}